 
.message-form{  padding: 2rem 3rem;
    background-color: rgb(245, 243, 241);
    text-align: center;
  
}
.message-form form input{
        width: 99%;
        padding: 1rem;
        margin: 1rem 0;
        border: 2px solid red;
}*{
    padding: 0;
    margin: 0;
}
.container{
    max-width: 100vw;
    overflow-x: hidden;
}
@media(max-width:600px){
    .message-form{
        background-color: rgb(245, 243, 241);
        padding: 1rem;
    }
    .message-form form input,textarea{
            width: 80%;
            padding: 1rem;
            margin: 1rem 0;
            border: 2px solid red;
    }
}